{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sentra - Free Bootstrap Theme</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/fontAwesome.css">
        <link rel="stylesheet" href="/static/light-box.css">
        <link rel="stylesheet" href="/static/owl-carousel.css">
        <link rel="stylesheet" href="/static/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>



    <header class="nav-down responsive-nav hidden-lg hidden-md">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--/.navbar-header-->

    </header>

    <div class="sidebar-navigation hidde-sm hidden-xs">
        <div class="logo">
            <a href="#">Prueba<em>tecnica</em></a>
        </div>
        <nav>
            <ul>
                <li>
                    <form id="contact" action="/inicio/" method="post">
                    <a href="/inicio/">
                        <span class="rect"></span>
                        <span class="circle"></span>
                        SCRUMMERS
                    </a>
                    </form>
                </li>

            </ul>
        </nav>

    </div>
    <div class="page-content">
        <section id="contact" class="content-section">
            <div id="contact-content">
            <div class="section-heading">
                <form id="contact" action="/cantidaditems/" method="post">{% csrf_token %}
                <h1>Ejemplo de<br><em>tablas</em></h1>
                <P><br><em>He creado dos tablas, GRUPOS E INTEGRANTES, integrantes tiene llave foranea de grupos </em>{{Sitio.imagenes_set.all.count}}</P>
    
                </form>
                
            </div>

                <div class="section-content">
                        <div class="row">
                            <div class="col-md-6">
                              <form id="contact" action="/agregargrupo/" method="get">
                              <fieldset>
                                  <button type="submit" id="form-submit"  href="/registrarimagensitio/" class="btn">Agregar grupo</button>
                              </fieldset>
                              </form>
                            </div>
                            <div class="col-md-6">
                             <form  action="/agregarintegrante/" method="get">
                              <fieldset>
                                <button type="submit" id="form-submit" class="btn">agregar miembro</button>
                              </fieldset>
                             </form>
                            </div>
                     
                        </div>                   
                </div>
            </div>
        </section>
        <section id="blog" class="content-section">
        {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="alert alert-warning"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
        {% endif %}             
            <div class="section-content">
                <div class="tabs-content">
                    <div class="wrapper">
                  

                     
                        <br>                        
                      
                        <ul class="tabs" data-tabgroup="first-tab-group">
                  
                            <li><a href="#table1" class="active" >Equipo de trabajo</a></li>
             
     
                        </ul>
                        
                        <section id="first-tab-group" class="tabgroup">\
                            {% for items in model2%}
                            <div id="{{items.grupodetrabajo}}">
                                <ul>
                                   
                                    <li>
                                        <div class="item">
                                            <img src="/media/{{items.imagen}}" width='200px' height='200px' style="border: 5px solid #c78d21; margin-rigth:10px; " alt="">
                                            <div class="text-content">
                                                <h4>{{items.nombres}} {{items.apellidos}}</h4>
                                                <span>Grupo : {{items.grupodetrabajo}}</span>
                                                <p>{{items.descripcion}}</p>
                                                
                                                <div class="accent-button button">
                                                    <a href="{% url 'eliminarintegrante' items.id %}">Eliminar</a>
                                                    <a href="{% url 'editarintegrante' items.id %}">Modificar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    

                                </ul>
                            </div>
                            {% endfor %}

                        </section> 
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="/static/js/vendor/bootstrap.min.js"></script>
    
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }
            
            lastScrollTop = st;
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

</body>
</html>